*, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: "Poppins" sans-serif;
  background-color: white;
  overflow-x: hidden;
}
header{
  width: 100%;
  height: 150px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
  border-bottom:solid;
}
.logo img{
  width: 80%;
  height: 120px;
  align-items: end;
}
.hamburger{
  display: none;
}
.navbar ul{
  display: flex;
  list-style: none;
}
.navbar ul li a{
  text-decoration: none;
  display: block;
  color: black;
  font-size: 25px;
  padding: 50px ;
  margin: 0 25px;
  transition: .2s;
}
.navbar ul li a::after{
  display: block;
  content: "";
  border-bottom: 2px solid black;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.navbar ul li a:hover::after{
  transform: scaleX(1);
}
.navbar ul li a.active {
  color: black;
}
@media screen and (max-width: 1000px){
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #0B2447;
        margin: 6px 0;
    }
    .navbar{
        height: 0;
        position: absolute;
        top: 155px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: white;
        transition: 0.5s;
        overflow: hidden;
    }
    .navbar.active{
        height: 600px;
    }
    .navbar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition:  0.5s;
        opacity: 0;
    }
    .navbar.active ul{
        opacity: 1;
    }
    .navbar ul li a {
        margin-bottom: 12px;
    }
}
/* //////////////////////////////////////////////////////////////////////////////////////////// */
    .dropbtn {
    background-color: #000000;
    color: white;
    width: 200px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin: 20px;
    position: absolute;
    left: 700px;
    border-radius: 25px;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #252725;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
    left: 730px;
    margin-top: 150px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 30px;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .show {display:block;}
/* ///////////////////////////////////////////////////////////////////////// */
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px;
}

.grid-item {
  text-align: center;
  margin: 5px;
  width: 300px;
  height: 500px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  overflow: hidden;
}

.grid-item img {
  max-width: 100%;
  height: 250px;
}

.grid-item p {
  margin-top: 20px;
  font-family: "Poppins";
  font-size: 25px;
}
.grid-item:hover{
  border-color: black;
}
  /* ////////////////////////////////////////////////////////////////////////////////////////// */
  .btn {
    background-color: white;
    color: black;
    border-radius: 10em;
    font-size: 18px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
    margin-top: 15px;
  }
  
  .btn:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
    border: 1px solid black;
  }
  
  .btn:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
  }
  a{
    text-decoration: none;
    color: black;
  }
  /* ////////////////////////////////////////////////////////////////////////////////////// */
  footer {
    margin-top: 5%; 
    background-image: linear-gradient(to right, black, rgb(95, 95, 95));
    width: 100%;
    border-top-left-radius: 15%; 
    padding: 20px; 
}

.contact {
    display: grid;
    place-items: center;
    color: white;
    font-family: "Poppins";
    margin-top: 15px;
}

.contact h1 {
    font-size: 30px; 
    letter-spacing: 3px;
    margin: 0; 
}
.icon{
    display: grid;
    place-items: center; 
    color: whitesmoke;
    font-size: 10px;
}
.icon1{
    padding: 50px;
}
.adress{
    font-size: 20px;
    letter-spacing: 5px;
    display: grid;
    place-items: center;
    color: whitesmoke;
    font-family: "Poppins";
}